<header><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNDzWbwTs_BY68S_DBDE6NSX8mcFlTbRAE5KRPk4YLOV-7uo-r"</header>
<h1>All Books</h1>
<h3>Browse Books Added by All Users:</h3>
<br>
<% @books.each do |book| %>
    <h4> <a href="/books/<%= book.id %>"> <%= book.created_at.to_date %></a></h4>
    <i><%= book.title %></i>
    by <%= book.author %>
    <p>Comments: <%= book.comments %></p>
    Added By: <%= book.user.username %>
    <br><br>
<% end %>


