<h1>All Books</h1>
<br><br>
<% @books.each do |book| %>
    <h4> <a href="/books/<%= book.id %>"> <%= book.created_at %></a></h4>
    <br>
    <i><%= book.title %></i>
    <p>By <%= book.author %></p>
    <p>Comments: <%= book.comments %></p>
    Added By: <%= book.user.username %>
    <br><br>
<% end %>