<h1>All Books</h1>
<br><br>
<% @books.each do |book| %>
    <h4> <a href="/books/<%= book.id %>"> <%= book.created_at %></a></h4>
    <p><%= book.title %></p>  <%#WHY CAN THIS BE JUST BOOK AND NOT @BOOK%>
    <p><%= book.author %></p>
    <p><%= book.comments %></p>
    <br><br>
<% end %>