<header><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQz5KkxLWy26dS06V4zQJpYZsY9YKtOvEWinEGGpzyHh6qLYUHN"</header>
<h3><i><%= @book.title %></i></h3>
By <%= @book.author %>
<p>Comments: <%= @book.comments %></p>
<p>Added By: <%= @book.user.username %></p>

<% if authorized_to_edit?(@book) %>
    <form class="" action="/books/<%= @book.id %>/edit" method="get">
        <input type="submit" value="Edit Book">
    </form>
   
    <form class="" action="/books/<%= @book.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Book">
    </form>
<% end %>
